{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-8">
            <p>{{ mail.html_body|safe }}</p>
        </div>
        <div class="col-md-4 col-sm-4">
            <hr>
            <div class="btn-group-vertical">
                {% for cat in mail_cats %}
                <a class="btn {{ cat.css_class }}" href="/classify/{{ cat.slug }}/{{ mail.id }}/" role="button">
                    {{ cat.name }}
                </a>
                {% endfor %}
            </div>
            <hr>
            <a class="btn btn-outline-danger btn-block" href="/block/{{ mail.id }}/" role="button">Block</a>
        </div>
    </div>
</div>
{% endblock content %}
